<div class="d-flex justify-content-center align-items-center vh-50">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <button type="button" class="btn btn-primary mb-2">Single Player</button>
      <button type="button" class="btn btn-primary mb-2">Local Multiplayer</button>
      <button type="button" class="btn btn-primary mb-2">Online Multiplayer</button>
      <button type="button" class="btn btn-primary mb-2">Local Tournament</button>
    </div>
  </div>
  