
    <div class="container mt-5">
        <h1>Buscar Usuario</h1>
        <!-- Formulario con el valor "pepe" prellenado -->
        <form id="search-user-form" class="d-flex align-items-center mb-0">
            <div class="mb-0 me-2">
                <input type="text" class="form-control" id="search-username" placeholder="Username" value="pepe">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form> 
        
        <!-- Lista de usuarios con botón "ADD" a la derecha de cada uno -->
        <div class="mt-4">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    pepe
                    <button class="btn btn-success btn-sm spa-route" data-path="/FriendRequest">ADD</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    pepe19
                    <button class="btn btn-success btn-sm spa-route" data-path="/FriendRequest">ADD</button>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    elpepe
                    <button class="btn btn-success btn-sm spa-route" data-path="/FriendRequest">ADD</button>
                </li>
            </ul>
        </div>
    </div>

