<div class="container mt-5">
    <div class="card mx-auto mt-4 border-dark" style="max-width: 500px;">
        <div class="card-header text-center bg-dark" style="color: #f6f8fa;">
            <h5><b>Match Tournaments</b></h5>
        </div>
        <div class="card-body">
            <ul class="list-group" id="matchList">
                <!-- Match will be listed here -->
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="matchDetailsModal" tabindex="-1" aria-labelledby="matchDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="matchDetailsBody">Match Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="matchDetailsBody">
                <!-- Match details will be inserted here -->
            </div>
        </div>
    </div>
</div>