
    <!-- Main profile section -->
    <div class="container mt-4 text-center">
        <div class="position-relative">
            <!-- Imagen que actúa como botón -->
            <img id="avatarImage" src="img/avatar.jpg" alt="Avatar" class="rounded-circle" style="width: 100px; height: 100px; border: 2px solid black;">

            <!-- Campo de entrada de archivo oculto -->
            <input type="file" id="imageInput" style="display: none;" accept="image/*">
            
            <!-- Badge o etiqueta que puedes mantener si lo deseas -->
        </div>
        <h4><b>Username: </b><span id="username">usuario</span></h4>
        <div class="mt-3 d-flex justify-content-center">
            <button class="btn btn-secondary btn_profile1 btn-dark mx-1" id="changePasswordBtn">Change Password</button>
            <button class="btn btn-secondary btn_profile1 btn-dark mx-1" id="changeProfilelBtn">Change Info</button>
            <button class="btn btn-secondary btn_profile1 btn-dark mx-1" id="changeAvatarBtn">Change Avatar</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Columna para el avatar y la información del usuario -->
        <div class="col-lg-8 col-md-12 mx-auto text-center">
                <input type="file" id="avatarInput" style="display: none;" accept="image/*">

                <!-- Password Change Form -->
                <div id="changePasswordForm" class="collapse mt-3">
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" placeholder="Enter current password">
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="newPassword" placeholder="Enter new password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm new password">
                    </div>
                    <button class="btn btn-primary" id="submitPasswordChange">Submit</button>
                </div>

                <!-- Email Change Form -->
                <div id="changeProfileForm" class="collapse mt-3">
                    <div class="mb-3">
                        <label for="first_nameProfile" class="form-label">first_name</label>
                        <input type="text" class="form-control" id="first_name">
                    </div>
                    <div class="mb-3">
                        <label for="last_nameProfile" class="form-label">last_name</label>
                        <input type="text" class="form-control" id="last_name">
                    </div>
                    <div class="mb-3">
                        <label for="friendsProfile" class="form-label">Friends</label>
                        <input type="text" class="form-control" id="friends">
                    </div>
                    <button class="btn btn-primary" id="submitProfileChange">Submit</button>
                </div>

                <!-- Creation and Update dates -->
                <div class="mt-4">
                    <p><b>Created at:  </b><span id="date_joined">2023-09-01</span></p>
                </div>
        </div>
    </div>

    <!-- Match History -->
    <div class="mt-4">
        <h4>Match History</h4>
        <div id="matchHistory">
            <div class="d-flex justify-content-between align-items-center mb-3 p-2 border">
                <div class="d-flex align-items-center">
                    <span class="bg-success text-white p-2 rounded-circle me-2">
                        <i class="bi bi-check-lg"></i>
                    </span>
                    <span>Won against: Alejandro</span>
                </div>
                <div>Score: 5 - 3</div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3 p-2 border">
                <div class="d-flex align-items-center">
                    <span class="bg-danger text-white p-2 rounded-circle me-2">
                        <i class="bi bi-x-lg"></i>
                    </span>
                    <span>Lost against: Goiko</span>
                </div>
                <div>Score: 2 - 5</div>
            </div>
        </div>
    </div>
