<div class="container mt-5">
    <!-- Card principal -->
    <div class="card mx-auto mb-4 border-dark" style="max-width: 500px;">
        <div class="card-header bg-dark d-flex justify-content-center align-items-center" style="color: #f6f8fa;">
            <h5 class="mb-0"><b>Profile</b></h5>
        </div>
        <div class="card-body">
            <!-- Main profile section -->
            <div class="container text-center">
                <div class="position-relative">
                    <!-- Imagen que actúa como botón -->
                    <img id="avatarImage" src="img/avatar.jpg" alt="Avatar" class="rounded-circle" style="width: 100px; height: 100px; border: 2px solid black;">
                    <!-- Campo de entrada de archivo oculto -->
                    <input type="file" id="imageInput" style="display: none;" accept="image/*">
                </div>
                <h4><b>Username: </b><span id="username">usuario</span></h4>
            </div>

            <div class="mt-3 d-flex justify-content-center">
                <!-- Columna para el avatar y la información del usuario -->
                <div class="text-center">
                    <input type="file" id="avatarInput" style="display: none;" accept="image/*">
                    <div class="mt-4">
                        <p><b>Created at: </b><span id="date_joined">2023-09-01</span></p>
                    </div>
                </div>
            </div>
            <div id="profile-container">
                <!-- Contenido del perfil aquí -->
            </div>
            <div class="container mt-2 spa-route" data-path="/MatchHistory" style="max-width: 500px;">
                <!-- Cuarto botón: Local Tournament -->
                <div class="d-flex align-items-center border rounded-2 p-2 mb-2 spa-route bg-dark" style="color: #f6f8fa; height: auto;" data-path="/MatchHistory">
                    <i class="bi bi-list-ol text-info spa-route" style="font-size: 40px; margin-right: 10px;" data-path="/MatchHistory"></i>
                    <div>
                        <h5 class="mb-0 spa-route" data-path="/MatchHistory"><b class="spa-route" data-path="/MatchHistory">Match History</b></h5>
                        <small class="text-white spa-route" data-path="/MatchHistory">Check your game stats against other players</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
