<body>
    <div class="container mt-5">
      <div class="card mx-auto mb-3" style="max-width: 500px;">
        <div class="card-header text-center bg-light">
          <i class="bi bi-trophy-fill" style="font-size: 25px; margin-right: 15px;"></i>
          <h5>Local Tournament</h5>
        </div>
        <div class="card-body">
          <!-- Create Tournament Section -->
          <div class="mb-3">
            <div class="text-center">
                <h6 style="font-size: large;"><b>Create Tournament</b></h6>
            </div>
            <form>
              <div class="mb-3">
                <label for="numPlayers" class="form-label">Number of Players</label>
                <input type="number" class="form-control" id="numPlayers" placeholder="Value">
              </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark w-50">Create</button>
                </div>
            </form>
          </div>
  
          <!-- Join Tournament Section -->
          <div class="mb-2">
            <div class="text-center">
                <h6 style="font-size: large;"><b>Join Tournament</b></h6>
            </div>
            <form>
              <div class="mb-3">
                <label for="tournamentId" class="form-label">Tournament ID</label>
                <input type="text" class="form-control" id="tournamentId" placeholder="Value">
              </div>
              <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-dark w-50">Join</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>